* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}

.container {
  position: relative;
  max-width: 770px;
  margin: 0 auto;
  border: 10px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.inner-div {
  width: 150px;
  height: 150px;
  background-color: antiquewhite;
  font-size: 3rem;
  border: 5px solid black;
}

#div-01 {
  height: 200px;
  border-bottom: 10px solid black;
}
#div-02 {
  height: 450px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: red;
}
#div-03 {
  height: 250px;
  border-top: 10px solid black;
}
#div-04 {
  background-color: rgb(0, 153, 255);
}
#div-05 {
  position: absolute;
  left: 150px;
  top: 450px;
  width: 550px;
}
#div-06 {
  width: 50px;
  height: 75px;
  position: absolute;
  top: 450px;
  left: 700px;
  border-bottom: 10px solid black;
}
#div-07 {
  width: 50px;
  height: 75px;
  position: absolute;
  top: 525px;
  left: 700px;
  background-color: yellow;
  border-top: 10px solid black;
}
