* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 10px;
  background: #fff;
}
.item {
  padding: 20px;
  text-align: left;
}
.item-01 {
  grid-column: 1 / 7;
  grid-row: 1;
  background-color: #8a2be0;
}
.item-02 {
  grid-column: 7 / 10;
  grid-row: 1;
  background-color: #a9a9a9;
}
.item-03 {
  grid-column: 10 / 13;
  grid-row: 1 / 3;
  background-color: #ca9eec;
}
.item-04 {
  grid-column: 1 / 4;
  grid-row: 2;
  background-color: #e8e0ef;
}
.item-05 {
  grid-column: 4 / 10;
  grid-row: 2;
  background-color: #2b2331;
  color: #ffffff;
}
